@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.header {
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 2.5em;
    margin: 0.5em auto;
}