.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.links {
    display: flex;
    align-items: center;
    gap: clamp(12px, 3vw, 32px);
    font-size: clamp(20px, 1.5vw, 20px);
}

.links a {
    opacity: 0.9;
    color: #d9d9d9;
    text-decoration: none;
    transition: opacity 0.25s;
}