
.new {
    font-weight: bold;
    font-size: 1.5em;
    margin: 16px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.new a {
    text-decoration: underline;
    color: #d9d9d9;
}